:root{
  --grey: #595959;
  --primary-color: #f25c05;
  --pageBackgroundColor: #fafafa;
  --nr-dashboard-groupTextColor: #7f7f7f;
  --white: #ffffff;
}

html{
  width: 100%;
  min-width: 100vw;
  /* box-sizing: border-box; */
}

body {
  
  margin: 0;
  font-family: 'Montserrat'!important;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  width: 100%;
  min-width: 100vw;
}

#root{
  min-height: 100vh;
}
.desktop{
  display: flex;
}
.mobile{
  display: none;
}
.App{
  /* min-width: 500px; */
  display: flex;
  flex-direction: row;
  height: 100%;
  min-height: 100vh;
  width: 100%;
}
#main{
  box-sizing: border-box;
  display: flex;
  width: 100%;
  /* min-width: 500px; */
}

#sidebar{
  font-family: 'Montserrat'!important;
  width: 20rem;
  background-color: var(--grey);
  color: var(--white); 
  font-size: 1.2rem;
}

#sidebar button{
  font-family: 'Montserrat'!important;
  margin: 0.5rem;
  background-color: transparent;
  border: none;
  font-weight: bold;
  align-items: center;
  color: var(--white);
  height: 3rem;
}

#sidebar ul{
  list-style: none;
  text-align: left;
  flex-direction: column;
}

#sidebar a{
  color: var(--white);
  text-decoration: none;
}

#content{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

}

#content header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 100%;
}

header select{
  font-family: 'Montserrat'!important;
  background-color: var(--white);
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

header button{
  font-family: 'Montserrat'!important;
  background-color: var(--primary-color);
  color: var(--white);
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.download-button{
  margin: 1rem;
}

#content iframe{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  /* min-height: 500px; */
}

#footer_logo{
    height: 3rem;
    margin: 0.7rem;
}

#footer{
  position: absolute;
  /* background-color: blue; */
  bottom:0;
  width: 100%;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


@media (max-width: 900px) {
  .mobile{
    display: flex;
  }

  .desktop{
    display: none;
  }
  .App {
    flex-direction: column;
  }

  #content a{
    margin:1rem;
  }

  #sidebar{
    min-height: 3rem;
    width: 100%;
    display: flex;
    align-items: flex-start;
  }
 
}
